/* General styling */
* {
    background-color:white;
    box-sizing:border-box; /* 長寬由box的border 開始計算起 */
  }

/* Pseudo Class */
.required::after {
    content:'_after';
    color:blue;
    }
    input::placeholder {
        content:'_after';
        color: #8c8a89;;
        text-overflow: ellipsis;
        }




    /* attirbute style */
    [red-color*='bcd'] {
        background-color:red;
    }
    /* Box model */
    .box-one {
        background-color: hotpink;
        height: 100px;
        width: 100px;
        padding:20px;
        border: 5px #fff dotted;
        margin: 20px;
    }

    .box-two{
        background-color: lightblue;
        height: 100px;
        width: 100px;
        padding: 20px;
        margin:20px;
    }
